* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.comboST {
  width: 124px;
  height: 44px;
  border-radius: 35px;
  border-color: #16221f;
  text-align: center;
  box-shadow: inset;
  font-size: 18px;
  left: 10%;
  margin-left: 10px;
  margin-top: 85px;
  outline: none;
  cursor: pointer;
  
}
#comboCategories {
  width: 124px;
  height: 44px;
  border-radius: 35px;
  border-color: #16221f;
  text-align: center;
  box-shadow: inset;
  font-size: 18px;
  left: 10%;
  margin-left: 10px;
  margin-top: 85px;
  outline: none;
  cursor: pointer;
}
#ajouteCategorie {
  margin-left: 501px;
  cursor: pointer
}
#content{
  float: right;
  width: 87%;
  
  
 
}


.Header1 {
  background-color: #16221F;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.logo {
  display: flex;
  position: absolute;
}

.logo img {
  width: 70px;
  margin-top: 5px;
  margin-left: 10px;
}

#logo-name1 {
  color: white;
  font-size: 50px;
  margin-left: 8px;
  margin-top: 5px;
}

.User1{
  position: absolute;
  display: flex;
  right: 1px;
  align-items: flex-start;
  height:100%;
  width: 250px;
}
.User1 img {
  position: relative;
  width:60px;
  margin-top: 15px;
  margin-left: 20px;
}
#username12{}


.User1 h2 {
  position: relative;
  color: white;
  font-size:30px;
  margin-left: 60%;
  margin-top: 18px;
}
.User1 h3 {
  position: relative;
  color: white;
  font-size: 20px;
}
#titleDT {
  box-shadow: 1px 2px 5px  #000000;
  position: absolute;
  width: auto;
  height: 50px;
  margin-top: 83px;
  left: 51%;
  border-radius: 10px;
  text-align: center;
}
#flexx{
  margin-top:10px;
  display: flex;
}

.side-bar1 {
  background-color: #16221F;
  position: absolute;
  color: #000000;
  height: 100%;
  text-align: center;
  z-index: 0;
  width: 10%;
}

#Dossier1 {
  position: absolute;
  align-items: center;
  height: 37px;
  width: 10%;
  background-color: #1d2f2b;
  top:45%;
  color: white;
}

#Dossier1 a {
  position: relative;
  font-size: 20px;
  margin: auto;
  text-decoration: none;
  color: black;
  top:5px;
}

.side-bar #Dossier1:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  transition: 0.8s;
}
#titleDT p {
  width: auto;
  font-size: 1.5vmax;
  font-family: Hatton;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 13px;
  padding-bottom: 10px;
}
#Fichie {
  width: 45px;
  height: 40px;
  margin-top: 85px;
  box-shadow: 3px 2px 10px #000000;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 100px;
}
#FV{
position: absolute;
display: flex;
right: 6%;
width:100px;
}
#cs{
  float: left;
  display: flex;
}
#logoFichie {

  width: 30px;
  margin-top: 5px;
  cursor: pointer;

}

#vote {
  
  width: 45px;
  height: auto;
  margin-top: 85px;
  box-shadow: 3px 2px 10px #000000;
 position: absolute;
 right: 30px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  z-index: 20;
}
#logoVote {
  width: 30px;
  margin-top: 5px;
  cursor: pointer
}

.postessimo {
  position: absolute;
  width: 87%;
  height: 70%;
  margin-top:10px;
  border-radius: 10px;
  overflow-y: scroll;
}

.creeNote {
  background-color: #ffffff;
  z-index: 100;
  width: 100%;
  height: 55px;
  border-radius: 19px;
  outline: none;
  margin-right:10px ;
  border: #ffffff;
  box-shadow: 3px 2px 10px -2px #000000;
  border: 1px solid lightblue;
  padding: 10px 40px;
  font-size: 17px;
}
#create{
  position: absolute;
  display: flex;
  z-index: 100;
  bottom: 10px;
  margin-left: 2%;
  width:83%;
}
#afficheNote {
  width: 80px;
  height: 50px;
 
  border-radius: 10px;
  text-align: center;
  cursor: pointer
}

::placeholder {
  color: rgb(55, 55, 58);
  font-size: 16px;
  padding: 20px;
}

#logoAffiche {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  background-color: #16221f;
  cursor: pointer;
  box-shadow: 3px 2px 10px #000000;
  font-size: 16px;
  color:#ffffff
}

.Postnote {
  width: 95%;
  height:auto;
  border-radius: 6px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
   
}

.areaBorder {
  width: 85%;
  height:auto;
  top: 5px;
  position: relative;
  border-radius: 10px;
  font-family: Hatton, sans-serif;
  border-color: #16221f;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#borderVote {
  height: 120px;
}

.dateNote {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  top: 15px;
  padding: 5px;
  color: #000000;
  position: relative;
  bottom:50px;
  margin-left: 47%;
}
.line1{
  float: left;
  position: relative;   
  height: 2px;
  width:20% ;
  background-color: #000000;
  margin-left: 20%;
  top: 26px;
  border-radius:100px;
}
.line2{
  position: relative;   
  height: 2px;
  width:20% ;
  background-color: #000000;
  right:20%;
  float: right;
  border-radius:100px;
  bottom:4px;
}
.continer{
  position: relative;
  height:50px;
  top: 3px;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom: 10px;
}
.vote {
  width: 85%;
  height:auto;
  border-radius: 6px;
  margin: auto;
  margin-top:30px;
  margin-bottom:20px; 
}
.posteChadow {
  
  width: 600px;
  height:auto;
  top: 5px;
  position: relative;
  border-radius: 10px;
  font-family: Hatton, sans-serif;
  border-color: #16221f;
  text-align: center;
  font-size: 20px;
  margin-left: 50px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.titleVote {
  width: 40%;
  height: 35px;
  border-radius: 20px;
  margin: auto;
  text-align: center;
  padding: 4px;
  font-size: 18px;
  color: #16221f;
  background-color: #ffffff;
  border-style: solid;
  border-color: #16221f 1px solid;
}
.choix {
  width: 90%;
  height: 50px;
  font-size: 18px;
  color: aliceblue;
  float: left;
  border-style: outset;
  border-color: #000000 1px;
}

.resulta1 {
  width: 11%;
  height: 30px;
  border-radius: 20px;
  background-color: #16221f;
  font-size: 18px;
  color: aliceblue;
  text-align: center;
  color: #ffffff;
  position: relative;
  margin-left :94%;
  top :9px;
  padding-top:5px;
}
.voting {
  width: 100%;
  border-style: solid;
}
.value {
  color: #000000;
  position: relative;
  height: 30px;
  top: 2px;
  width:90%;
  font-size :15px;
  border: #ffffff;
}
.pourcentage{
  height: 10px;
  width:0%;
  background-color: rgba(164, 234, 234, 0.783);
  position: relative;
  margin-bottom: 40px;
  border-radius:15px;
}

.widthPour{
  position: relative;
  width: 92.7%;
  height: 30px;
  left: 7.3%;
  
}

.value:focus{
  outline: none;
}
.scroll {
  margin-top:5px;
  height: 60px;
  width: 95%;
 
}

.check{
  position: relative;
  height: 25px;
  width:5%;
  right:2%;
  top: 10px;
  cursor: pointer;
}

.fichier {
  height: 132px;
  width: 160px;
  margin-left: 60%;
  border-radius: 20px;
  box-shadow: 3px 2px 10px #000000;
  position: relative;
  bottom: 5px;
  z-index: 10;
}
.fichierImage{
  height:100%;
  width: 100%;
  border-radius:20px;
}
.voteshadow{
  box-shadow: 3px 2px 10px #000000;
  width: 80%;
  height:auto;
  top: 30px;
  position: relative;
  border-radius: 10px;
  font-family: Hatton, sans-serif;
  border-color: #16221f;
  text-align: center;
  font-size: 20px;
  left: 10%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom:40px;
}
@media only screen and (min-width:600px) and (max-width:798px){
  .dateNote {
    right: 4%;
  }
  #titleDT{
    left: 60%;
  }
}
@media only screen and (min-width:400px) and (max-width:600px){
  .side-bar1 {

    width: 1px;
    
   }
  
   #Dossier1 {
     background-color: #16221f;
    border-radius: 10px;
    width: 70px;
    text-align: center;
    left: 82%;
    top: 110px;
  
    }
    #Dossier1 a{
     color: #ffffff
     }
     .dateNote {
      right: 3.5%;
    }
    .comboST{
      position: absolute;
      top: -34px;
      left: -1px;
      
    }
    #comboCategories{
     position: absolute;
     left: 0;
     left: -1px;
     margin-top:90px;
    }
    .postessimo{
      margin-top:140px;
      width: 100%;
      left: 0;
    }
    #create{
      left: 3%;
      width: 90%;
    }
    #titleDT{
      left:200px;
      margin-top:70px;
    }
    .User1 img {
      position: relative;
      width:40px;
      margin-top: 1px;
      margin-left: 208px;
    }
    .User1 h2 {
      position: absolute;
      color: white;
      font-size:20px;
      margin-right: 10px;
      margin-top: 1px;
    }
    .User1 h3 {
      position:absolute;
      color: white;
      font-size: 15px;
      margin-left:75px;
      top: 25px;
    }
    .Header1{
      height:50px;
    }
    .logo img{
      height:25px;
      width: 100px;
    }
    #logo-name1{
      top: 50px;
      font-size: 25px;
    }
    #vote{
      top: -25px;
    }
    #Fichie{
      top: -25px;
    }

}